<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{UI/layouts/user/main_layout}"
      >
<head>
  <title>500 Internal Server Error</title>
</head>
<body layout:fragment="content">
  <div class="container text-center py-5">
    <h1 class="display-1">500</h1>
    <h2 class="mb-4">Server Error Occurred</h2>
    <p class="mb-4">This is a temporary issue or an error occurred on the server.<br>Please try again later.</p>
    <a href="/" class="btn btn-primary">Go to Home</a>
  </div>
</body>
</html>
