<th:block th:fragment="side">
  <div class="app-sidebar">
    <div class="logo">
      <a href="/" class="logo-icon"></a>
      <a href="/" class="text-dark">
        <span class="logo-text" style="display: inline-block; height: 40px; line-height: 40px;">FALCON</span>
      </a>
      <div class="sidebar-user-switcher user-activity-online">
        <a href="#">
          <!-- <img src="../../assets/images/avatars/avatar.png"> -->
          <!-- <span class="activity-indicator"></span> -->
          <span class="user-info-text">Administrator<br><span class="user-state-info">admin</span></span>
        </a>
      </div>
    </div>
    <div class="app-menu">
      <ul class="accordion-menu">
        <li class="sidebar-title">
          Admin Menu
        </li>
        <li class="active-page">
          <a href="/admin" class="active"><i class="material-icons-two-tone">dashboard</i>Dashboard</a>
        </li>
        <!-- <li>
          <a href="/admin/category"><i class="material-icons-two-tone">category</i>카테고리</a>
        </li> -->
        <li>
          <a href="#">
              <i class="material-icons-two-tone">category</i>Category
              <i class="material-icons has-sub-menu">keyboard_arrow_right</i>
          </a>
          <ul class="sub-menu">
            <li>
              <a href="/admin/category">Category</a>
            </li>
            <li>
              <a href="/admin/category-large">Large Category</a>
            </li>
            <!-- <li>
              <a href="/admin/category/middle">중분류</a>
            </li>
            <li>
              <a href="/admin/category/small">소분류</a>
            </li> -->
          </ul>
        </li>
        <li>
          <a href="#"><i class="material-icons-two-tone">inventory</i>Product Management<i
              class="material-icons has-sub-menu">keyboard_arrow_right</i></a>
            <ul class="sub-menu">
              <li>
                <a href="/admin/products">Product Management</a>
              </li>
            </ul>
        </li>
        <li>
          <a href="#"><i class="material-icons-two-tone">more_horiz</i>Option Management
            <i class="material-icons has-sub-menu">keyboard_arrow_right</i></a>
            <ul class="sub-menu">
              <li>
                <a href="/admin/option-groups">Option Groups</a>
              </li>
              <li>
                <a href="/admin/options">Options</a>
              </li>
            </ul>
        </li>
        <li>
          <a href="/admin/users"><i class="material-icons-two-tone">people</i>User Management</a>
        </li>
        <li>
          <a href="#"><i class="material-icons-two-tone">shopping_cart</i>Order Management<i
              class="material-icons has-sub-menu">keyboard_arrow_right</i></a>
          <ul class="sub-menu">
            <li>
              <a href="/admin/orders">Order Processing</a>
            </li>
            <li>
              <a href="/admin/cancel">Refund Processing</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#"><i class="material-icons-two-tone">email</i>Email Management<i
              class="material-icons has-sub-menu">keyboard_arrow_right</i></a>
          <ul class="sub-menu">
            <li>
              <a href="/admin/email">Send Email</a>
            </li>
            <li>
              <a href="/admin/email-template">Email Templates</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="/admin/popups"><i class="material-icons-two-tone">announcement</i>Popup Management</a>
        </li>
        <li>
          <a href="/admin/banners"><i class="material-icons-two-tone">image</i>Banner Management</a>
        </li>
        <li class="sidebar-title">
          Others
        </li>
        <li>
          <a href="#"><i class="material-icons-two-tone">settings</i>System Management<i
              class="material-icons has-sub-menu">keyboard_arrow_right</i></a>
          <ul class="sub-menu">
            <li>
              <a href="/admin/codegroups">Code Group Management</a>
            </li>
            <li>
              <a href="/admin/codes">Code Management</a>
            </li>
            <li>
              <a href="/admin/seqgroups">Sequence Group Management</a>
            </li>
            <li>
              <a href="/admin/seq">Sequence Management</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>

</th:block>