<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{UI/layouts/admin/admin_layout}"
      >
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>주문 처리</title>
</head>
<body layout:fragment="content">

  <div class="page-title">
    <div class="row">
      <div class="col-12 col-md-6 order-md-1 order-last">
        <h3>주문 처리</h3>
        <p class="text-subtitle text-muted">주문 처리 작업을 합니다.</p>
      </div>
      <div class="col-12 col-md-6 order-md-2 order-first">
        <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/admin">관리자</a></li>
            <li class="breadcrumb-item"><a href="/admin/orders">주문 관리</a></li>
            <li class="breadcrumb-item active" aria-current="page">주문 처리</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>

  <!-- 주문 처리 컨트롤 패널 -->
  <section class="section">
    <div class="row">
      <!-- 주문 상태 컨트롤 -->
      <div class="col-12 col-xxl-6">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-6">
                <h5 class="card-title">주문 처리 컨트롤 패널</h5>
                <p class="card-text">결제승인 및 주문 상태 변경</p>
              </div>
              <div class="col-6 text-end">
                <span class="badge p-2 fs-6"
                      th:classappend="${order.status == '결제대기' ? 'badge-warning' : (order.status == '결제완료' ? 'badge-primary' : (order.status == '배송준비중' ? 'badge-info' : (order.status == '배송시작' ? 'badge-info' : (order.status == '배송중' ? 'badge-info' : (order.status == '배송완료' ? 'badge-success' : (order.status == '주문취소' ? 'badge-danger' : 'badge-danger'))))))}"
                      th:text="${order.status}"></span>
                /
                <span class="badge p-2 fs-6" 
                      th:classappend="${order.paymentMethod == 'TRANSFER' ? 'badge-info' : (order.paymentMethod == 'COIN' ? 'badge-success' : 'badge-secondary')}"
                      th:text="${order.paymentMethod}"></span>
              </div>
            </div>
            <div class="mt-2 mb-0">
              <!-- 결제대기 -->
              <th:block th:if="${order.status == '결제대기'}">
                <div class="alert alert-warning" role="alert">
                  현재 주문 상태는 <strong>결제대기</strong>입니다. 
                  결제 금액을 확인하고 <strong>결제 완료</strong>로 변경해주세요.
                  <br>
                  결제 완료 시, 주문자에게 결제 완료 이메일이 발송됩니다.
                </div>
              </th:block>
              <!-- 결제완료 -->
              <th:block th:if="${order.status == '결제완료'}">
                <div class="alert alert-primary" role="alert">
                  현재 주문 상태는 <strong>결제완료</strong>입니다. 
                  상품을 준비하고 <strong>배송 준비중</strong>으로 변경해주세요.
                </div>
              </th:block>
              <!-- 배송준비중 -->
              <th:block th:if="${order.status == '배송준비중'}">
                <div class="alert alert-info" role="alert">
                  현재 주문 상태는 <strong>배송준비중</strong>입니다. 
                  상품을 포장하고 <strong>배송 시작</strong>으로 변경해주세요.
                </div>
              </th:block>
              <!-- 배송시작 -->
              <th:block th:if="${order.status == '배송시작'}">
                <div class="alert alert-info" role="alert">
                  현재 주문 상태는 <strong>배송시작</strong>입니다. 
                  상품이 출고되었으면 <strong>배송 중</strong>으로 변경해주세요.
                </div>
              </th:block>
              <!-- 배송중 -->
              <th:block th:if="${order.status == '배송중'}">
                <div class="alert alert-info" role="alert">
                  현재 주문 상태는 <strong>배송중</strong>입니다. 
                  상품이 고객에게 도착했으면 <strong>배송 완료</strong>로 변경해주세요.
                </div>
              </th:block>
              <!-- 배송완료 -->
              <th:block th:if="${order.status == '배송완료'}">
                <div class="alert alert-success" role="alert">
                  현재 주문 상태는 <strong>배송완료</strong>입니다. 
                  주문이 정상적으로 완료되었습니다.
                </div>
              </th:block>
              <!-- 주문취소 -->
              <th:block th:if="${order.status == '주문취소'}">
                <div class="alert alert-danger" role="alert">
                  현재 주문 상태는 <strong>주문취소</strong>입니다. 
                  주문이 취소되었습니다.
                </div>
              </th:block>
              <!-- 환불완료 -->
              <th:block th:if="${order.status == '환불완료'}">
                <div class="alert alert-danger" role="alert">
                  현재 주문 상태는 <strong>환불완료</strong>입니다. 
                  주문이 환불 처리되었습니다.
                </div>
              </th:block>
              
            </div>
            <div class="d-flex flex-column flex-md-row align-items-center justify-content-between">
              <div class="d-grid mb-4 mb-md-0" style="grid-template-columns: repeat(4, 1fr); gap: 10px;">
                <a href="javascript:;" onclick="orderProcess('결제완료')" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="결제 완료 상태로 변경하고, 주문자에게 결제 완료 이메일을 발송합니다.">결제 완료</a>
                <a href="javascript:;" onclick="orderProcess('배송준비중')" class="btn btn-info" data-bs-toggle="tooltip" data-bs-placement="top" title="배송 준비중 상태로 변경합니다.">배송 준비중</a>
                <a href="javascript:;" onclick="orderProcess('배송시작')" class="btn btn-info" data-bs-toggle="tooltip" data-bs-placement="top" title="배송 시작 상태로 변경합니다.">배송 시작</a>
                <a href="javascript:;" onclick="orderProcess('배송중')" class="btn btn-info" data-bs-toggle="tooltip" data-bs-placement="top" title="배송 중 상태로 변경합니다.">배송 중</a>
                <a href="javascript:;" onclick="orderProcess('배송완료')" class="btn btn-success" data-bs-toggle="tooltip" data-bs-placement="top" title="배송 완료 상태로 변경합니다.">배송 완료</a>
                <a href="javascript:;" onclick="orderProcess('결제대기')" class="btn btn-warning" data-bs-toggle="tooltip" data-bs-placement="top" title="주문 취소 상태로 변경합니다.">결제 대기</a>
                <a href="javascript:;" onclick="orderProcess('주문취소')" class="btn btn-danger" data-bs-toggle="tooltip" data-bs-placement="top" title="주문 취소 상태로 변경합니다.">주문 취소</a>
                <a href="javascript:;" onclick="orderProcess('환불완료')" class="btn btn-danger" data-bs-toggle="tooltip" data-bs-placement="top" title="주문 취소 상태로 변경합니다.">환불 완료</a>
              </div>
              <div>
                <select class="form-select" name="orderStatus" onchange="orderProcess(this.value)">
                  <option value="">상태 선택</option>
                  <option value="결제대기" th:selected="${order.status == '결제대기'}">결제대기</option>
                  <option value="결제완료" th:selected="${order.status == '결제완료'}">결제완료</option>
                  <option value="배송준비중" th:selected="${order.status == '배송준비중'}">배송준비중</option>
                  <option value="배송시작" th:selected="${order.status == '배송시작'}">배송시작</option>
                  <option value="배송중" th:selected="${order.status == '배송중'}">배송중</option>
                  <option value="배송완료" th:selected="${order.status == '배송완료'}">배송완료</option>
                  <option value="주문취소" th:selected="${order.status == '주문취소'}">주문취소</option>
                  <option value="환불완료" th:selected="${order.status == '환불완료'}">환불완료</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- 배송 정보 입력 -->
      <th:block th:if="${order.shipment != null}">
        <div class="col-12 col-xxl-6">
          <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col-6">
                    <h5 class="card-title">배송 정보 입력</h5>
                    <p class="card-text">배송 정보를 입력/수정</p>
                  </div>
                  <div class="col-6 text-end">
                    <div class="d-flex align-items-center justify-content-between">
                      <span>배송 상태 : </span>
                      <span class="badge badge-primary px-2 py-2 fs-6" th:text="${order.shipment.status}"></span>
                    </div>
                  </div>
                </div>
                <hr>
                <form>
                  <div class="row">
                    <!-- <div class="col-6">
                      <div class="mb-3">
                        <label for="status" class="form-label">배송 상태</label>
                        <select class="form-select" id="status" name="status">
                          <option value="">배송 상태 선택</option>
                            <option value="배송준비중">배송준비중</option>
                            <option value="배송시작">배송시작</option>
                            <option value="배송중">배송중</option>
                            <option value="배송완료">배송완료</option>
                            <option value="주문취소">주문취소</option>
                        </select>
                      </div>
                    </div> -->
                    <div class="col-12">
                      <div class="mb-3">
                        <label for="trackingNo" class="form-label">운송장 번호</label>
                        <input type="text" class="form-control" id="trackingNo" placeholder="운송장 번호 입력">
                      </div>
                    </div>
                    <!-- <div class="col-6">
                      <div class="mb-3">
                        <label for="deliveryMethod" class="form-label">배송 방법</label>
                        <input type="text" class="form-control" id="deliveryMethod" placeholder="배송 방법 입력">
                      </div>
                    </div> -->
                    <div class="col-12">
                      <div class="mb-3">
                        <label for="shipCompany" class="form-label">택배 회사</label>
                        <input type="text" class="form-control" id="shipCompany" placeholder="택배 회사 입력">
                      </div>
                    </div>
                  </div>
                </form>
                <div class="d-flex align-items-center justify-content-end pt-3">
                  <button type="button" class="btn btn-primary" onclick="updateShipment()">배송 정보 업데이트</button>
                </div>
              </div>
            </div>
        </div>
      </th:block>
      <th:block th:if="${order.shipment == null}">
        <div class="col-12 col-xxl-6">
          <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col-12">
                    <h5 class="card-title">배송 정보 입력</h5>
                    <p class="card-text">사용자가 아직 결제 요청 및 배송 정보를 입력하지 않았습니다.</p>
                  </div>
                  <div class="col-12" style="height: 186px;"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </th:block>
    </div>
  </section>

  <section class="section">
    <!-- 주문상품 내역 & 배송 정보 -->
    <div class="row">
      <!-- 주문상품 내역 -->
      <div class="col-12 col-xxl-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">주문상품 내역</h5>
            <p class="card-text">고객이 주문한 상품 내역입니다.</p>
            <div class="table-responsive">
              <table class="table table-striped">
                <thead class="text-center">
                  <tr>
                    <th>상품 이미지</th>
                    <th>상품명</th>
                    <th>수량</th>
                    <th>단가</th>
                    <th>총금액</th>
                    <th>배송비</th>
                  </tr>
                </thead>
                <tbody class="text-center">
                  <tr th:each="orderItem : ${order.orderItems}">
                    <td>
                      <img th:src="${orderItem.product.thumbImg?.content}" 
                           th:alt="${orderItem.product.name}"
                           class="product-img" 
                           style="height: 60px;">
                    </td>
                    <td>
                      <strong th:text="${orderItem.product.name}"></strong>
                      <br>
                      <small class="text-muted" th:text="${orderItem.product.summary}"></small>
                    </td>
                    <td th:text="${orderItem.quantity}"></td>
                    <td th:text="${#numbers.formatDecimal(orderItem.price, 1, 'COMMA', 2, 'POINT')}"></td>
                    <td th:text="${#numbers.formatDecimal(orderItem.price * orderItem.quantity, 1, 'COMMA', 2, 'POINT')}"></td>
                    <td th:text="${#numbers.formatDecimal(orderItem.product.shipPrice, 1, 'COMMA', 2, 'POINT')}"></td>
                  </tr>
                </tbody>
                <tfoot class="text-center">
                  <tr>
                    <th colspan="4" class="text-end">총 상품 금액:</th>
                    <th th:text="${#numbers.formatDecimal(order.totalPrice - order.shipPrice, 1, 'COMMA', 2, 'POINT')}"></th>
                    <th th:text="${#numbers.formatDecimal(order.shipPrice, 1, 'COMMA', 2, 'POINT')}"></th>
                  </tr>
                  <tr>
                    <th colspan="4" class="text-end">최종 결제 금액:</th>
                    <th colspan="2" th:text="${#numbers.formatDecimal(order.totalPrice, 1, 'COMMA', 2, 'POINT')}"></th>
                  </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- 배송 정보 -->
      <th:block th:if="${order.shipment != null}">
        <div class="col-12 col-xxl-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">배송 정보</h5>
              <p class="card-text">고객의 배송지 정보입니다.</p>
              <div class="table-responsive">
                <table class="table table-bordered">
                <tbody>
                  <tr>
                    <th width="120">수취인</th>
                    <td th:text="${order.shipment.recipient}"></td>
                    <th width="120">연락처</th>
                    <td th:text="${order.shipment.tel}"></td>
                  </tr>
                  <tr>
                    <th>주소</th>
                    <td colspan="3" th:text="${order.shipment.address}"></td>
                  </tr>
                  <tr>
                    <th>도시</th>
                    <td th:text="${order.shipment.city}"></td>
                    <th>우편번호</th>
                    <td th:text="${order.shipment.postcode}"></td>
                  </tr>
                  <tr>
                    <th>운송장번호</th>
                    <td colspan="3" th:text="${order.shipment.trackingNo ?: '-'}"></td>
                  </tr>
                  <tr>
                    <th>택배회사</th>
                    <td colspan="3" th:text="${order.shipment.shipCompany}"></td>
                  </tr>
                  <tr>
                    <th>배송방법</th>
                    <td th:text="${order.shipment.deliveryMethod}"></td>
                    <th>배송상태</th>
                    <td>
                      <span class="badge badge-primary px-2 py-2 fs-6" 
                            th:text="${order.shipment.status}"></span>
                    </td>
                  </tr>
                </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </th:block>
      <th:block th:if="${order.shipment == null}">
        <div class="col-12 col-xxl-6">
          <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col-12">
                    <h5 class="card-title">배송 정보</h5>
                    <p class="card-text">
                      사용자가 아직 결제 요청 및 배송 정보를 입력하지 않았습니다.
                    </p>
                  </div>
                  <div class="col-12" style="height: 280px;"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </th:block>
    </div>

    <!-- 주문자 정보 -->
    <div class="row mt-4">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">주문자 정보</h5>
            <p class="card-text">주문자의 기본 정보입니다.</p>
            <div class="table-responsive">
              <table class="table table-bordered">
                <tbody>
                  <tr>
                    <th width="120">회원번호</th>
                    <td th:text="${order.user.no}"></td>
                    <th width="120">ID</th>
                    <td th:text="${order.user.id}"></td>
                  </tr>
                  <tr>
                    <th>아이디</th>
                    <td th:text="${order.user.username}"></td>
                    <th>이름</th>
                    <td th:text="${order.user.name}"></td>
                  </tr>
                  <tr>
                    <th>성</th>
                    <td th:text="${order.user.firstName}"></td>
                    <th>이름</th>
                    <td th:text="${order.user.lastName}"></td>
                  </tr>
                  <tr>
                    <!-- <th>전화번호</th>
                    <td th:text="${order.user.tel}"></td> -->
                    <th>이메일</th>
                    <td th:text="${order.user.email}"></td>
                  </tr>
                  <tr>
                    <th>계정상태</th>
                    <td colspan="3">
                      <span class="badge px-2 py-2 fs-6" 
                            th:classappend="${order.user.enabled ? 'badge-success' : 'badge-danger'}"
                            th:text="${order.user.enabled ? '활성화' : '비활성화'}"></span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>  
      </div>
    </div>

  </section>


  <script th:if="${order.shipment != null}">
    // 주문처리
    async function orderProcess(status) {
      if (!status) {
        $alert('알림', '변경할 상태를 선택해주세요.', 'warning');
        return;
      }


      $confirm('주문 상태 변경', 
                '주문 상태를 "' + status + '"(으)로 변경하시겠습니까?', 
                'question', '확인', '취소')
      .then((result) => {
        if (result.isConfirmed) {

          const loadingTimer = setTimeout(() => {
            Swal.fire({
              title: 'Updating order status and Sending email...',
              text: 'Please wait...',
              allowOutsideClick: false,
              didOpen: () => {
                Swal.showLoading()
              },
              onBeforeOpen: () => {
                Swal.showLoading()
              }
            });
          }, 500);

          // 주문 상태 변경
          const order = {
            id: "[[${order.id}]]",
            status: status,
            shipment: {
              id: "[[${order.shipment.id}]]",
              status: status
            }
          };

          $ajax({
            url: '/api/shop/order/process',
            type: 'POST',
            data: order
          }).then(response => {
            clearTimeout(loadingTimer);
            Swal.close();
            if (response === 'SUCCESS') {
              $alert_('알림', '주문 상태가 "' + status + '"(으)로 변경되었습니다.', 'success').then(() => {
                location.reload();
              });
            } else {
              $alert('오류', '주문 상태 변경에 실패했습니다. 관리자에게 문의하세요.', 'error');
            }
          }).catch(error => {
            console.error('Error:', error);
            $alert('오류', '서버 오류가 발생했습니다. 관리자에게 문의하세요.', 'error');
          });
          
        }
      })
    }

    // 배송 업데이트
    function updateShipment() {
      // const status = document.getElementById('status').value;
      // const deliveryMethod = document.getElementById('deliveryMethod').value;
      const trackingNo = document.getElementById('trackingNo').value;
      const shipCompany = document.getElementById('shipCompany').value;

      // if (!status) {
      //   $alert('알림', '배송 상태를 선택해주세요.', 'warning');
      //   return;
      // }

      const shipment = {
        no: "[[${order.shipment.no}]]",
        id: "[[${order.shipment.id}]]",
        trackingNo: trackingNo,
        shipCompany: shipCompany,
        // status: status,
        // deliveryMethod: deliveryMethod
      };

      $ajax({
        url: '/api/shop/shipment',
        type: 'PUT',
        data: shipment
      }).then(response => {
        if (response) {
          $alert_('알림', '배송 정보가 업데이트되었습니다.', 'success').then(() => {
            location.reload();
          });
        } else {
          $alert('오류', '배송 정보 업데이트에 실패했습니다. 관리자에게 문의하세요.', 'error');
        }
      }).catch(error => {
        console.error('Error:', error);
        $alert('오류', '서버 오류가 발생했습니다. 관리자에게 문의하세요.', 'error');
      });
    }
  </script>
  


  
  
</body>
</html>