<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.falcon.shop.mapper.products.OptionMapper">

    <!-- ResultMap for Option with OptionGroup join -->
    <resultMap id="OptionMap" type="Options">
        <id property="no" column="no"/>
        <result property="groupNo" column="group_no"/>
        <result property="name" column="name"/>
        <result property="price" column="price"/>
        <result property="stock" column="stock"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
        <!-- OptionGroup 연관 객체 -->
        <association property="optionGroup" column="group_no" javaType="OptionGroup" select="selectOptionGroup"></association>
    </resultMap>

    <select id="listWithParams" resultMap="OptionMap">
        SELECT *
        FROM `options`
        WHERE 1 = 1
        <if test="queryParams.search != null and queryParams.search != ''">
            AND name LIKE CONCAT('%', #{queryParams.search}, '%')
        </if>
        <if test="queryParams.sortBy != null and queryParams.sortBy.size() > 0">
            ORDER BY
            <foreach collection="queryParams.sortBy" item="sortField" index="idx" separator=",">
            ${sortField}
            <if test="queryParams.sortOrder != null and queryParams.sortOrder.size() > idx">
                ${queryParams.sortOrder[idx]}
            </if>
            </foreach>
        </if>
    </select>

    <select id="selectOptionGroup" resultType="OptionGroup">
        SELECT *
        FROM option_group
        WHERE no = #{group_no}
    </select>

</mapper>
